body {
  font-size: 1rem;
  font-weight: 300;
  -webkit-transform: translateZ(0);
  color: #5a6169;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

b,
strong {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.75rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: #3d5170;
}

.h1,
h1 {
  font-size: 3.052rem;
  letter-spacing: -0.0625rem;
  line-height: 3rem;
}

.h2,
h2 {
  font-size: 2.441rem;
  letter-spacing: -0.0625rem;
  line-height: 2.25rem;
}

.h3,
h3 {
  font-size: 1.953rem;
  line-height: 2.25rem;
}

.h4,
h4 {
  font-size: 1.563rem;
  line-height: 2rem;
}

.h5,
h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.h6,
h6 {
  font-size: 1rem;
  line-height: 1.5rem;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
  // background-color: red;
  line-height: normal !important;
  scroll-behavior: smooth;
  overflow: hidden;
  // font-family: "Roboto", sans-serif;
  font-family: "Nunito", sans-serif;
  // font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif !important;
  // -webkit-font-smoothing: antialiased !important;
  // font-family: Helvetica, sans-serif !important;
}

* {
  box-sizing: border-box;
}

h4 {
  font-size: 1.3rem;
  color: #515d6e;
}

label,
p,
a {
  font-size: 0.9rem;
  color: #515d6e;
}

button {
  font-size: 0.88rem !important;
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06),
    0 7px 70px rgba(90, 97, 105, 0.1) !important;
}

//Global Styles ----------------------------------------------- //

.business-table-button {
  text-decoration: underline !important;
  color: rgba(41, 99, 167, 0.662842) !important;
  font-weight: bold;
  font-size: 0.7rem;
}

#app {
  background: rgb(241, 241, 243) !important;
  position: relative;
  z-index: 1000 !important;
  height: 100vh;
  width: 100%;
  // border: 3px solid green;
}

.lds-spinner {
  color: #9a65b9;
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 45%;
  width: 260px;
  z-index: 10000;
  height: 116px;
  // transform: translate(-50%,-50%);
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgb(37, 84, 170);
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// Info Section 0--------------- ======

#info-section {
  // border: 1px solid red;
  padding: 1rem;

  label {
    color: #0067a9 !important;

    text-decoration: underline;
  }

  p {
    font-size: 0.7rem;
  }
}

// Table stuf ----------

td {
  cursor: pointer;
}

table {
  // overflow: scroll !important;

  tr {
    cursor: pointer;

    &:hover {
      background-color: rgba(172, 171, 171, 0.489) !important;
      color: #fff !important;
    }
  }

  tr.show {
    // background-color: rgba(56, 111, 228, 0.783) !important;
    background-color: rgba(49, 108, 210, 0.489) !important;
    color: #fff !important;
    font-weight: bold;

    td {
      color: #fff;
    }
  }
}

.-sort-desc {
  box-shadow: inset 0 -2px 0 0 rgba(48, 118, 205, 0.242) !important;
}

.-sort-asc {
  box-shadow: inset 0px 2px 0 0 rgba(48, 118, 205, 0.242) !important;
  // padding: 1rem;
}

.ReactTable {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif !important;
  overflow: scroll !important;
  height: 100%;
  color: rgba(31, 124, 174, 0.934);

  input[type="text"] {
    background-color: rgba(226, 230, 234, 0.126) !important;
    // border: 0 !important;
  }

  .rt-tbody {
    font-size: 0.8rem !important;
    color: rgba(36, 36, 36, 0.859);
    font-weight: 300 !important;
    cursor: pointer !important;
  }

  .rt-tr-group.show {
    background-color: rgba(56, 111, 228, 0.783) !important;
    color: #fff;
    font-weight: bold;
  }

  .rt-td {
    // font-size: 0.27rem !important;
    padding: 0.6rem !important;
    margin-left: 1rem;
    cursor: pointer !important;
  }
}

.tr-td {
  font-size: 10.6rem !important;
  padding: 1rem !important;
  // cursor: pointer !important;
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  background: rgba(25, 125, 232, 0.77) !important;
  color: #fff !important;
}

// .-highlight {
//   &:hover {
//     background-color: red;
//   }
// }

//  PRACTICE STUFF...

// .dataTables_scroll {

//   // border: 1px solid red;
//   height: 300px;
//   // overflow: hidden;

// }

// .dataTable_scrollBody {
//   border: 1px solid red;
//   height: 400px;
// }

// .table-wrapper-scroll-y {
//   height: 400px !important;
//   border: 1px solid red;
// }

// tbody {
//   height: 100px !important;
// }

// .dataTables_wrapper {
//   // border: 1px solid blue;
//   height: 300px;

//   .row:nth-child(1) {
//     // border: 1px solid green;
//   }

//   .row:nth-child(2) {
//     border: 1px solid green;
//     height: 400px;
//   }
// }

#greg {
  // border: 1px solid red !important;
  overflow: hidden;
  padding: 0rem 10px 0;

  // table {
  //   border: 1px solid red;
  //   height: 200px !important;
  //   overflow: scroll !important;
  // }
}

.dataTables_wrapper {
  height: 100% !important;

  // height: 400px;
  // border: 1px solid red;
  // overflow: scroll;
  .row:nth-child(2) {
    // border: 1px solid red !important;
    // height: 400px !important;
    height: 100% !important;
    // overflow: scroll !important;

    .col-sm-12 {
      // border: 1px solid blue !important;
      height: 100%;
    }
  }
}

.dataTables_scroll {
  height: 100% !important;
  padding: 0 0 2rem 0;
  // border: 1px solid red;
  //  overflow: scroll !important;
  // max-height: 100% !important;
}

.dataTable_scrollBody {
  //  overflow: scroll !important;
  height: 85% !important;
  // border: 1px solid green;

  // "#0067A9","#4A68B4","#7468BA"

  tr {
    border: 0 !important;

    &:hover {
      background-color: #0068a951 !important;
      color: #fff !important;
      padding: 1rem !important;

      td {
        color: #fff !important;
      }
    }
  }
}

.table-wrapper-scroll-y {
  //  height: 100% !important;
  // border: 1px solid blue;
}

table {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif !important;
  font-weight: bold !important;

  font-size: 2rem !important;

  tr {
    border: 0 !important;
  }

  tbody {
    // background-color: blue !important;
  }
}

colgroup {
  border: 0 !important;
  border-bottom-color: rgba(255, 255, 255, 0.126) !important;
  border-top-color: rgba(255, 255, 255, 0.126) !important;
}

tbody {
  border-bottom-color: rgba(255, 255, 255, 0.098) !important;
  border-block-start-color: #fff !important;

  tr {
    background-color: #fff !important;

    &:hover {
      background-color: blue !important;
      padding: 1rem !important;
    }
  }
}

tr.show {
  background-color: rgba(172, 171, 171, 0.489) !important;
  color: #fff !important;
}

tbody tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
  color: rgba(36, 36, 36, 0.86);
  font-size: 0.9rem !important;
  border: 0 !important;
  border-image-width: 0px !important;
  padding: 1rem !important;
}

tbody tr:nth-child(odd) {
  background-color: rgba(220, 235, 242, 0.304);
  color: rgba(36, 36, 36, 0.86);
  font-size: 0.74rem !important;
  border: 0 !important;
  border-color: rgba(255, 255, 255, 0) !important;
  border-image-width: 0px !important;
  padding: 1rem !important;
}

td {
  font-size: 0.76rem !important;
  color: grey;
  padding: 17px 10px !important;
}
