#dashboard {
  margin-top: 12px;
  margin-left: 12px;
  position: absolute;
  left: 0;
  right: 0px;
  top: 65px;
  bottom: 0 !important;
  // border: 1px solid red !important;
  display: grid;
  grid-template-columns: 400px auto;
}

.tab-content {
  padding: 0rem 1rem;
  // border: 1px solid blue;
  height: 100%;
}

// Dashboard/ sidebar left --------------------------------------------------

.page-subtitle {
  color: rgb(129, 142, 163);
  // border: 1px solid red;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
}

.page-title {
  font-weight: 500;
}

#dashboard-left {
  // background-color: #fff;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  // padding: 10px 1rem;
  background-color: #fff;
  // padding: 0.5rem 1.4rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.326);
  border: 1px solid #e3e6f0;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  // box-shadow: 5px 5px 10px 1px rgba(51, 51, 51, 0.194);

  .card-header {
    // border: 1px solid red;
    height: auto;
    padding: 5px;
    color: #0067A9 !important;
  }
}


//  h6 {
//        color: #0067A9 !important;
//     }

.dashboard-left-flex {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;

  label {
    margin: 0;
  }

  .input-border {
    border-radius: 1rem;
    padding: 1px 5px;
    overflow: hidden;
  }

  select {
    border: 1px solid rgb(58, 152, 210) !important;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    color: rgba(51, 51, 51, 0.842);
  }
}

#dashboard-left-search {
  background-color: #0067A9;
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-size: 0.7rem !important;
  line-height: 1.7;
  margin: auto;
  border: 0;
  padding: 8px 35px;
  transition: all 0.4s ease;
  box-shadow: 5px 5px 10px 1px rgba(117, 96, 96, 0.315);

  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 1200px) {
  .dashboard-left-flex {
    grid-template-columns: 150px auto;
  }
}

// Dashboard RIGHT ------------------------------------------------

.card-header {
  background-color: rgb(255, 255, 255) !important;
  // height: 80px;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;

  h6 {
    display: block;
    font-weight: 500 !important;
    line-height: 27px !important;
    margin: 0rem !important;
    padding: 0 !important;
  }
}

.card-body {
  // border: 1px solid red;
  margin: 0;
  // padding: 0;
  position: relative;
  overflow-x: hidden;
}

#dashboard-right {
  height: calc(100vh - 88px);
  // overflow-y: hidden !important;
  width: 100%;
  // border: 1px solid red;
  overflow-y: scroll !important;
  position: relative;
  padding: 0 0.6rem;

  .card {
    // box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, 0.5) !important;
    border: 1px solid #e3e6f0;
    // padding: 0.5rem 1.4rem;
    border-radius: 0.5rem;
    // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2326);
    // border-color: #ddd;
    // border: 1px solid transparent;
    box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06),
      0 7px 70px rgba(90, 97, 105, 0.1);

    h6 {
      display: block;
      font-weight: 500;
      line-height: 27px;
      margin: 0;
    }
  }
}

#dashboard-right-nav {
  background-color: rgb(255, 255, 255);
  // box-shadow: 5px 5px 10px 1px rgba(51, 51, 51, 0.363);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.326);
  border-color: #ddd;
  z-index: 101;
  margin: 0 1rem;
  position: sticky;
  padding: 1rem;
  width: 100%;
  right: 20px;
  top: 0px;
  border: 1px solid #e3e6f0;
}

#dashboard-right-ul {
  // border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 0.5rem;
  // margin-bottom: 10px;
  // border-bottom: 1px solid rgba(46, 46, 46, 0.139);

  .nav-link {
    color: #3d5170b3;
    border-radius: 0;
    font-weight: bold;
    border-color: #ddd;

    border-bottom: 3px solid rgba(255, 255, 255, 0);
  }

  .active {
    background-color: #fff;
    color: #0067a9;
    border-bottom: 3px solid #0067a9;
    // border-radius: 0;
  }
}



// GRID SECTION --------------------------------------------------------

#business-table {
  overflow: hidden !important;
}

// tbody {
//   border: 1px solid red;
//   overflow: scroll !important;
// }

.dashboard-right-grid1 {
  // border: 1px solid green;
  height: calc(100vh - 130px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;

  // grid-template-rows: calc(43vh - 20px) calc(47vh - 10px);
  grid-gap: 1.75rem 1.75rem;
  // border: 1px solid red;
  // margin: 0.5rem 0;
}

#business-table {
  grid-column: 1 / 3;
}

@media (max-width: 1500px) {

  #dashboard-left {
    // border: 1px solid red;
    margin: 1.5rem 1rem 0 1rem;
  }

  .dashboard-right-grid1 {
    grid-template-columns: 1fr;
    grid-template-rows: 500px 580px 500px;
  }

  #dashboard-right {
    // border: 2px solid blue;
    height: auto;
    // overflow-y: scroll !important;
  }

  #business-table {
    grid-column: initial;
  }
}

//  Grants grid -----

.dashboard-right-grid2 {
  // border: 1px solid blue;
  // margin-top: 1rem;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: calc(47vh - 10px) calc(40vh - 20px);
  // grid-gap: 2rem;


  height: calc(100vh - 130px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;

  // grid-template-rows: calc(43vh - 20px) calc(47vh - 10px);
  grid-gap: 1.75rem 1.75rem;
  // border: 1px solid red;

  .card {
    // padding: 1rem;
  }

  .card-body {
    padding: 1rem !important;
  }
}

@media (max-width: 1600px) {
  .dashboard-right-grid2 {
    // border: 1px solid blue;
    grid-template-columns: 1fr !important;
    grid-template-rows: 400px 400px 400px 400px;
  }
}

// body {
//   min-height: 700px !important;
// }

@media (max-height: 900px) {
  #dashboard-right {
    overflow-y: scroll !important;
    height: auto;
  }

  .dashboard-right-grid2 {
    grid-template-rows: 350px 300px 350px 350px;
  }

  .dashboard-right-grid1 {
    grid-template-rows: 350px 300px 350px;
  }
}

//   #dashboard-right {
//     overflow-y: scroll !important;
//     height: auto;
//   }
//   #business-table {
//     grid-column: initial;
//   }
//   .dashboard-right-grid1 {
//     grid-template-columns: 1fr;
//     grid-template-rows: auto 380px auto;

//   }

//   .dashboard-right-grid2 {
//     grid-template-columns: 1fr !important;
//     grid-template-rows: 300px auto auto auto;
//   }
// }

// MEDIA QUERIES ---------------------------------------------------------

@media (max-width: 1200px) {
  body {
    overflow: scroll;
    background-color: #f5f6f8 !important;
  }

  #overlay {
    display: none !important;
  }

  #app {
    height: auto;
    // background-color: red !important;
  }

  #dashboard {
    display: block;
    // grid-template-columns: 1fr;
    // border: 1px solid red;
    right: 20px;
    left: 0px;
    top: 70px;
    // grid-template-rows: px;
  }

  #dashboard-left {
    height: auto;
    margin-bottom: 1rem;
  }

  #dashboard-right-ul {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .tab-content {
    padding: 0rem;
  }

  #dashboard-right-ul {
    position: relative !important;
    width: 100%;
    padding: 1rem !important;
  }
}

table {
  overflow: scroll !important;
}

// tbody {
//   overflow-y: scroll !important;
// }

#cardyb {
  overflow: hidden !important;
}

// #cardyb {
//   height: calc(40vh -40px);
//   border: 1px solid red;

//   table {
//     tbody {
//       overflow-x: scroll;
//     }
//   }
// }


#profile,
#buzz {
  // border: 1px solid red !important;
  height: 100%;
}



.card-wrapper {
  // border: 1px solid red;
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow: hidden;
}


#show-card {
  // border: 1px solid blue !important;
  position: relative;
}

#cardyb {
  // border: 1px solid blue !important;
}



#info-section {
  // border: 1px solid blue;
  // padding-top: 18px !important;
  // position: relative;
  // overflow-y: scroll;
  // height: 100%;
  overflow: hidden;

  p {
    color: rgba(55, 55, 55, 0.756);
    line-height: 1.5;
  }

  label {
    color: rgb(29, 117, 164) !important;
    // font-weight: bold;
  }
}