#landing {
    padding: 5rem;
    // border: 2px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-box {
    padding: 2rem;

    // background-color: rgba(32, 115, 224, 0.89);
    h2 {
        font-size: 3.4rem;
        text-align: center;
        color: #333;
    }

    // h2 {
    //     color: #fff;
    // }
}