#login {
  // border: 1px solid red;
  height: 100vh;
  width: 100%;

  background-color: rgb(218, 214, 214);
  background-image: url("https://images.pexels.com/photos/590037/pexels-photo-590037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  #overlay {
    background-color: rgba(0, 0, 0, 0.473);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
}


#login-box {
  z-index: 100;
  border: 1px solid #e3e6f0;
  padding: 1rem 1.4rem;
  box-shadow: 0 2px 5px 0 rgba(218, 218, 218, 0.233);
  background-color: #fff;
  // box-shadow: 5px 5px 10px 1px rgba(81, 81, 81, 0.338);
  // padding: 2rem 2rem;
  max-width: 500px;
  width: 450px;

  // min-width: 50px;
  h4 {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
  }

  .input-group-prepend {
    span {
      background-color: rgb(23, 22, 22);
      color: rgb(255, 255, 255);
    }
  }
}

#login-submit-btn {
  background-color: rgb(23, 22, 22);
  border: 0;
  display: block;
  color: #fff;
  // margin: auto;
  float: right;
  transition: all 0.5s ease;
  padding: 12px 27px;

  &:hover {
    transform: scale(1.1);
  }
}