#map {
    // border: 1px solid red;
    // max-height: 60vh;
    height: calc(100vh - 400px);
    margin-top: 1rem;
    // box-shadow: 2px 2px 10px 1px rgba(51, 51, 51, 0.445);
    border-radius: 0.7rem;
    border: 1px solid #e3e6f0;
    // padding: 0.5rem 1.4rem;
    // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.42326);
}