$blue: #0067A9;

#navbar {
    // border: 1px solid #333;
    background-color: $blue;
    width: 100%;
    height: 64px;
    display: grid;
    grid-template-columns: 200px auto;
    padding: 0 1rem;
}

#navbar-left {
    padding-top: 2px;
    height: 58px;
    display: flex;
    align-items: center;
    position: relative;

    img {
        width: 90px;
        cursor: pointer;
    }
}

#navbar-right {
    height: 58px;
    display: flex;
    justify-content: flex-end;
    align-items: center;



    .nav-link {
        color: #fff !important;
    }

    button {
        background-color: rgba(255, 255, 255, 0);
        border: 0;
        color: #fff;
        text-decoration: underline;
    }
}