#overlay.show {
  //   border: 2px solid red;
  z-index: 1011;
  position: absolute;
  background-color: rgba(24, 24, 24, 0.815);
  color: #333;
  top: -80px;
  left: -20px;
  bottom: -20px;
  right: 0;
  pointer-events: initial;
  height: auto;
}

#overlay {
  background-color: rgba(112, 24, 24, 0);
  top: -80px;
  left: -20px;
  bottom: -20px;
  right: 0;
  position: absolute;
  transition: all 0.741s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  pointer-events: none;
  //   z-index: -1000;

  h1 {
    color: #333;
  }

  #overlay-skip-btn {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(121, 121, 121);
    border: 0;
    top: 10px;
    right: 10px;
    font-size: 1.1rem !important;
    text-decoration: underline;
    box-shadow: 0 !important;

    &:hover {
      color: #222;
    }
  }
}

#overlay-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.979);
  width: 1200px;
  height: 600px;
  padding: 5rem 1rem;
  box-shadow: -5px -12px 42px 1px rgba(181, 181, 181, 0.678);
  // border-radius: 1rem;
  color: #fff;
  text-align: center;
}

#demo {
  img {
    border: 1px solid red !important;
    width: 100%;
    height: auto;
  }
}





.carousel-control-prev,
.carousel-control-next {
  color: red;


  span {
    color: red;
    background-color: red;
    width: 50px !important;
    height: 50px !important;

  }
}


#submit-overlay {
  background-color: rgb(44, 118, 164);
  color: #fff;
  margin: 5rem 0 2.5rem 0;
  transition: all 0.4s ease;

  &:hover {
    transform: scale(1.1);
  }
}